*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size: 14px;
}

body {
   font-family: Arial, Helvetica, sans-serif; 
}

header {
    background-color: #0d9ac7;
    color: white;
    text-align: center;
    font-size: 2rem;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.arucikk {
    width: 200px;
    margin: 100px auto;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #0d9ac7
}

h2{
    padding: 10px 0;
    font-weight: normal;
}

p {
    font-weight: bold;
}

button {
    background-color: #0d9ac7;
    color: white;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
    cursor:pointer;
}

.kep{
    padding: 10px;
    background: #fff;
    position: relative;
}

.kep span {
    position: absolute;
}

.kep .icon-star {
    color: orange;
    font-size: 1.6rem;
    top: 5px;
    left: 10px;
}

.akcio {
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
}